src/main/resources/task-template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="task" type="taskType"/>
  <xs:complexType name="scriptType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="initDataProcessorType">
    <xs:sequence>
      <xs:element type="scriptType" name="script"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="timeoutProcessorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="exceptionProcessorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:sequence>
      <xs:element type="initDataProcessorType" name="initDataProcessor"/>
      <xs:element type="timeoutProcessorType" name="timeoutProcessor"/>
      <xs:element type="exceptionProcessorType" name="exceptionProcessor"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="preCondition"/>
    <xs:attribute type="xs:string" name="timeout"/>
  </xs:complexType>
  <xs:complexType name="actionsType">
    <xs:sequence>
      <xs:element type="actionType" name="action"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conditionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="eval"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="flowType">
    <xs:sequence>
      <xs:element type="conditionType" name="condition"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="from"/>
    <xs:attribute type="xs:string" name="to"/>
  </xs:complexType>
  <xs:complexType name="flowsType">
    <xs:sequence>
      <xs:element type="flowType" name="flow"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taskType">
    <xs:sequence>
      <xs:element type="actionsType" name="actions"/>
      <xs:element type="flowsType" name="flows"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="description"/>
  </xs:complexType>
</xs:schema>